body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #181818;
    color: #fff;
    justify-content: left;
    align-items: center;
    min-height: 100vh;
}

.solar-system {
    position: relative;
}

.solar-system ul {
    list-style: none;
    padding: 0;
}

.planet {
    position: absolute;
    text-align: right;
    line-height: 1em;
    color: #fff;
}

/* Scale planets relative to each other */
.mercury {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #999;
    top: 0px;
    left: 0px;
}

.venus {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #D4AF37;
    top: 80px;
    left: 80px;
}

.earth {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #0077B6;
    top: 160px;
    left: 50px;
}

.mars {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #B73E00;
    top: 240px;
    left: 160px;
}

.planet a {
    text-decoration: none;
    color: #fff;
    font-size: 0.8em; /* Adjust font size for smaller planets */
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

  /* The navigation menu links */
.sidenav a {
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

  /* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-family:'Courier', monospace;
    top: 0;
    display: block;
    font-size: 36px;
    margin-left: 0px;
    color: white;
    transition: 0.3s;
}

.openbtn:hover {
    color: grey;
}

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
