{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <header>
        <h1>Per Capulus Coffee</h1>
    </header>
    <section>
        <h2>Our Story</h2>
        <p>Through Coffee, One Will Reach The Stars</p>
    </section>

    <section>
        <h2>Visit Us</h2>
        <p>Find us on Planet X, Galaxy Y.</p>
    </section>

{% endblock %}
